@using System.Web.Optimization
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--
  [if gt IE 8]>
-->
<html class='no-js' lang='en'>
<!-- <![endif] -->
<head>
    <meta charset='UTF-8' />
    <title></title>
    <meta content='' name='description' />
    <meta content='width=device-width' name='viewport' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css' />
    
    @Styles.Render("~/bundles/plenius")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body class='home'>
    <div class='white_bg_wrapper'>
        <div class='white_bg'></div>
        <div class='container'>
            <div class='highlight'></div>
            <header>
                <!-- / Upper info berin here -->
                <article class='contact-info'>
                    <p class='email'>info@pleniuscompany.com</p>
                    <p class='phone'>
                        <span>Call Us:</span>
                        (123) 456 78 90
                    </p>
                </article>
                <!-- / Upper info end here -->
                <hr class='line-15 color-5' />
                <!-- / Logo begin here -->
                <hgroup class='summary'>
                    <h1 class='template-name'>
                        <a href='#'>plenius</a>
                        <span class='color-5'>.</span>
                    </h1>
                    <h2 class='template-description'>
                        <a href='#'>minimal PSD theme</a>
                    </h2>
                </hgroup>
                <!-- / Logo end here -->
                <!-- / Navigation begin here -->
                <nav class='main-menu'>
                    <ul class='first-level'>
                        <li class='first active'>
                            <a href='index.html'>Home</a>
                        </li>
                        <li>
                            <a href='#'>Futures</a>
                            <ul class='second-level'>
                                <li>
                                    <a href='about.html'>About Us</a>
                                </li>
                                <li>
                                    <a href='services.html'>Services</a>
                                </li>
                                <li>
                                    <a href='pricing-tables.html'>Pricing Table</a>
                                </li>
                                <li>
                                    <a href='404.html'>404 Page</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href='shortcodes.html'>Shortcodes</a>
                        </li>
                        <li>
                            <a href='portfolio.html'>Portfolio</a>
                            <ul class='second-level'>
                                <li>
                                    <a href='portfolio-2.html'>Portfolio 2</a>
                                </li>
                                <li>
                                    <a href='portfolio-3.html'>Portfolio 3</a>
                                </li>
                                <li>
                                    <a href='portfolio-4.html'>Portfolio 4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href='blog.html'>Blog</a>
                        </li>
                        <li class='last'>
                            <a href='contact.html'>Contacts</a>
                        </li>
                    </ul>
                </nav>
                <!-- / Navigation end here -->
                <hr class='line-0' />
                <!-- / Page info begin here -->
                <hgroup class='page-info'>
                    <h2 class='page-description'>
                        <a href="#">plenius. is a good clean and <span class="color-5">easy customasible</span> theme for web portfolio and virtual business</a>
                    </h2>
                </hgroup>
                <!-- / Page info end here -->
                <hr class='line-25' />
            </header>
            <div class='content'>
                @RenderBody()
            </div>
        </div>
        <div class='empty'></div>
    </div>
    <div class='footer_texture light_theme'>
        <div class='inner'>
            <footer class='container'>
                <div class='row-fluid'>
                    <!-- /widget 1 begin -->
                    <article class='widget-1 span3'>
                        <h2>About Plenius</h2>
                        <p>English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes. on purpose (injected humour and the like).</p>
                        <section class='social'>
                            <a class='tweeter social-tooltip' href='#' title='tweeter'>Twitter</a>
                            <a class='facebook social-tooltip' href='#' title='facebook'>Facebook</a>
                            <a class='vimeo social-tooltip' href='#' title='vimeo'>Vimeo</a>
                            <a class='linkedin social-tooltip' href='#' title='linkedin'>LinkedIn</a>
                            <a class='flickr social-tooltip' href='#' title='flickr'>Flickr</a>
                        </section>
                    </article>
                    <!-- / widget 1 begin -->
                    <!-- / Interesting Links begin -->
                    <article class='widget-2 span3'>
                        <h2>Interesting Links</h2>
                        <ul>
                            <li>
                                <a href='#'>Readable content of a page</a>
                            </li>
                            <li>
                                <a href='#'>Looking at its layout is that</a>
                            </li>
                            <li>
                                <a href='#'>It has a More-or-less normal</a>
                            </li>
                            <li>
                                <a href='#'>Distribution of Letters</a>
                            </li>
                            <li>
                                <a href='#'>Using content Content here</a>
                            </li>
                            <li>
                                <a href='#'>Readable English</a>
                            </li>
                        </ul>
                    </article>
                    <!-- / Interesting Links end -->
                    <!-- / widget 3 begin -->
                    <article class='widget-3 span3'>
                        <h2>Twitter Feed</h2>
                        <div class='twitter_widget'></div>
                        <p class='last'>
                            Premium Web Templates and Themes for professionals business work with
                            <a href='#'>http://brong.lt/rIGkm67</a>
                        </p>
                        <hr class='line-20' />
                        <p>
                            Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
                            <a href='#'>http://brong.lt/rIGkm67</a>
                        </p>
                    </article>
                    <!-- / widget 3 end -->
                    <!-- / Contact form begin -->
                    <article class='widget-4 span3'>
                        <h2>Contact Form</h2>
                        <form action='mail.php' class='plenius-form check_form' method='post'>
                            <div class='field'>
                                <input class='w_def_text check' data-placeholder='Name*' name='name' title='Your Name*' type='text' value='Name*' />
                            </div>
                            <div class='field'>
                                <input class='w_def_text check email' data-placeholder='E-mail*' name='email' title='Your E-Mail*' type='text' value='E-mail*' />
                            </div>
                            <div class='field'>
                                <textarea class='w_def_text check' cols='1' data-placeholder='Message*' name='message' rows='1' title='Message'>Message*</textarea>
                            </div>
                            <input class='btn' type='submit' value='Send' />
                        </form>
                    </article>
                    <!-- / Contact form begin -->
                    <hr class='line-20' />
                    <article class='copyrights-box'>
                        <!-- / Footer Menu begin -->
                        <section class='foot-menu'>
                            <ul>
                                <li class='first active'>
                                    <a href='#'>Home</a>
                                </li>
                                <li>
                                    <a href='#'>Futures</a>
                                </li>
                                <li>
                                    <a href='#'>Shortcodes</a>
                                </li>
                                <li>
                                    <a href='#'>Portfolio</a>
                                </li>
                                <li>
                                    <a href='#'>Blog</a>
                                </li>
                                <li class='last'>
                                    <a href='#'>Contacts</a>
                                </li>
                            </ul>
                        </section>
                        <!-- / Footer Menu end -->
                        <!-- / Copyrights begin -->
                        <section class='copyrights'>
                            <p>
                                Copyright &copy; 2012
                                <a href='#'>Plenius</a>.
                                All rights reserved.
                            </p>
                        </section>
                        <!-- / Copyrights end -->
                    </article>
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/libs")
    @Scripts.Render("~/bundles/theme/plenius")
    @RenderSection("scripts", required: false)

</body>
</html>
